.BoardItem {
  background-color: white;

  width: 800px;
  height: 80px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 2px solid rgb(199, 199, 199);
  &:hover {
    background-color: hsl(44deg 35% 94% / 100%);
    border: 1px solid rgb(199, 199, 199);
  }
  .title {
    font-size: 20px;
  }
  .viewLike {
    font-size: 12px;
    display: flex;
    color: rgb(140, 140, 140);
  }
  .like {
    margin-left: 10px;
  }
}
