.BoardPage {
  background-color: hsl(44deg 35% 94% / 100%);
  color: #987654;
  display: flex;
  padding: 30px;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  min-height: 40vw;
  .searchBox {
    display: flex;
    #search {
      width: 70px;
    }
    .searchselect {
      width: 2vw;
      border-radius: 10px;
      border: 2px solid #987654;
      color: #987654;
    }
    .searchInputBox {
      display: flex;
      justify-content: center;
      width: 30vw;
      margin-inline: 10px;
      border-radius: 10px;
      border: 2px solid #987654;
      background-color: white;
      font-size: 2vw;
      .searchInput {
        width: 38vw;
        margin-inline: 10px;
        border-radius: 10px;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    .searchBtn {
      background-color: #ecd06f;
      border-radius: 10px;
      border: 2px solid #987654;
      width: 6vw;
      font-size: 2vw;
      color: #987654;
    }
    .backBtn {
      background-color: #ecd06f;
      border: 2px solid #987654;
      color: #987654;
      border-radius: 10px;
      width: 70px;
      margin-left: 10px;
    }
  }
  .boraditems {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }
  .createBtn {
    margin-top: 20px;
    background-color: #ecd06f;
    border: 2px solid #987654;
    color: #987654;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    &:hover {
      background-color: #987654;
      color: white;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  .boardFooter {
    display: flex;
    flex-direction: column;
    .pageNum {
      display: flex;
      justify-content: center;
      .pageBtn {
        cursor: pointer;
        margin-inline: 2px;
        color: #ecd06f;
        &:hover {
          font-weight: 500;

          color: #987654;
        }
      }
      .current {
        cursor: default;
        font-weight: 500;
        color: #987654;
      }
    }
  }
}
