.BoardPage {
  background-color: hsl(44deg 35% 94% / 100%);
  position: relative;
  bottom: 15px;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  height: 920px;
  .searchBox {
    display: flex;
    .searchInputBox {
      display: flex;
      justify-content: center;
      width: 400px;
      margin-inline: 10px;
      border-radius: 10px;
      border: 1px solid black;
      background-color: white;
      .searchInput {
        width: 380px;
        margin-inline: 10px;
        border-radius: 10px;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    .searchBtn {
      background-color: #ecd16f9f;
      border-color: #ecd16f9f;
      border-radius: 10px;
      width: 70px;
    }
  }
  .boraditems {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }
  .createBtn {
    background-color: #ecd16f9f;
    border-color: #ecd16f9f;
    border-radius: 10px;
    width: 150px;
    height: 50px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .boardFooter {
    display: flex;
    flex-direction: column;
    .pageNum {
      display: flex;
      justify-content: center;
    }
  }
}
