@import "~include-media/dist/include-media";

$breakpoint-md: 953px;
$breakpoint-ms: 590px;

.ChatBot {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  position: sticky;
  bottom: 0;
  color: #987654;
  .ToChatBox {
    background-color: #ecd06f;
    color: white;
    // border: 2px solid #987654;
    position: relative;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .chatimg {
      cursor: pointer;

      width: 50px;
      height: 50px;
      &:hover {
        animation-iteration-count: infinite;
        animation-name: chatBeat;
        animation-duration: 1s;
      }
    }
  }
  .chatBox {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30vw;
    height: 60vh;
    border: 2px solid #987654;
    border-radius: 10px;
    .infom {
      color: #7d6145;
    }
    .headerBox {
      border: 3px solid;
      border-top-color: #ecd06f;
      border-bottom-color: #987654;
      border-left-color: #ecd06f;
      border-right-color: #ecd06f;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      height: 6%;
      background-color: #ecd06f;
      .closeBox {
        font-size: 20px;
        cursor: pointer;
        margin-inline: 10px;
        text-align: center;
        width: max-content;
        color: #987654;
        &:hover {
          color: white;
          transition-duration: 1s;
        }
      }
    }
    .mainBox {
      overflow-y: auto;

      width: 100%;
      height: 84%;
      background-color: white;
      .bot {
        padding-top: 5px;
        width: 100%;
      }
      .user {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
      }
      .chat {
        width: max-content;
        background-color: #ecd06f;
        margin: 5px 10px;
        padding: 5px;
        border-radius: 10px;
        max-width: 70%;
        .info {
          padding-inline: 10px;
          color: rgb(255, 255, 255);
          cursor: pointer;
          margin-block: 5px;
          &:hover {
            color: #987654;
          }
        }
        .basic {
          padding-inline: 10px;
          margin-block: 5px;
        }
      }
    }
    .inputBox {
      border: 3px solid;
      border-top-color: #987654;
      border-bottom-color: #ecd06f;
      border-left-color: #ecd06f;
      border-right-color: #ecd06f;
      border-radius: 0px 0px 10px 10px;
      border-top-color: #987654;
      width: 100%;
      height: 10%;
      background-color: #ecd06f;
    }
  }
}

@keyframes chatBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@include media("<#{$breakpoint-md}") {
  .chatBox {
    width: 35vw !important;
    height: 50vh !important;
    .headerBox {
      height: 8% !important;
    }
    .inputBox {
      height: 8% !important;
    }
    .chat {
      font-size: 13px !important;
    }
  }
  .ToChatBox {
    width: 60px !important;
    height: 60px !important;
    .chatimg {
      width: 40px !important;
      height: 40px !important;
    }
  }
}
@include media("<#{$breakpoint-ms}") {
  .chatBox {
    width: 50vw !important;
    height: 45vh !important;
    .closeBox {
      font-size: 15px !important;
    }
    .chat {
      font-size: 11px !important;
    }
  }
}
