.sendtext {
  background-color: white;
  border: 2px solid #987654;
  color: #987654;
  border-radius: 10px;
  margin: 2px;
}
.sendbtn {
  background-color: #ecd06f;
  border: 2px solid #987654;
  color: #987654;
  border-radius: 10px;
}
