.Footer {
  background-color: #ecd06f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #987654;
  width: 100vw;
  height: 20vw;
}
.ourbox {
  background-color: #ecd06f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #987654;
  height: 13vw;
}

.ourinfo {
  font-size: 1.5vw;
  margin: 2vw;
}

.foot {
  display: flex;
  justify-content: center;
}
.foottext {
  font-size: 1.5vw;
}
