.Header {
  background-color: #ecd06f;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg {
  width: 150px;
}

.nav-link {
  color: #987654;
  &:hover {
    color: white;
  }
}

.linkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
