@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: #ecd06f;

  .container {
    // display: flex;
    height: 100%;
    width: 100%;
    .navbar-brand {
      font-size: 2vw;
      font-family: "CWDangamAsac-Bold";
      color: #987654;
      background: linear-gradient(to left, #a15c17 55%, #634a30 25%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logoimg {
      width: 150px;
    }

    .nav-link {
      color: #987654;
      padding: 10px;
      height: fit-content;
      // margin-right: 50px;
      &:hover {
        color: white;
      }
    }

    .linkbox {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .profileBox {
      height: 100%;
      display: flex;
      align-items: center;
      width: max-content;
      cursor: pointer;
      .imgBox {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .msgBox {
        margin-left: 5px;
        .userGrade {
          color: rgb(69, 69, 252);
          font-size: 10px;
        }
        .welcomeMsg {
          font-size: 13px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    .headerlogo1 {
      display: none;
      visibility: hidden;
    }
    .navbar-brand {
      display: flex;
      visibility: visible;
    }
    .container {
      width: fit-content;
      margin-block: 5px;

      .profileBox {
        position: absolute;
        right: 50px;
      }
    }
  }
}
