@import "./utils.scss";

.LoginWrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 0;
  background-color: hsl(44deg 35% 94% / 100%);
  .LoginBox {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 5vw 4vw;
    background-color: hsl(44deg 35% 94% / 100%);
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #987654;

    h1 {
      font-weight: bold;
      font-size: 30px;
    }
    h2 {
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
      & + .formBox {
        margin-top: 5px;
      }
    }
    form {
      width: 100%;
      margin-top: 20px;
    }
    button {
      width: 100%;
      background-color: #ecd06f;
      border: 0;
      height: 50px;
      margin-top: 30px;
      color: #987654;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      border: 2px solid #987654;
      &:hover,
      &:focus {
        background-color: #987654;
        color: var(--c-white);
      }
    }
    .link {
      display: inline-flex;
      width: auto;
      height: auto;
      background: #fff;
      text-decoration: underline;
      font-weight: normal;
    }
  }
}

.formBox {
  width: 100%;
  margin-top: 15px;
  input[type="text"],
  input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="radio"] {
    margin: 0;
    cursor: pointer;
  }
  label {
    color: #5d5d5d;
    font-size: 14px;
    cursor: pointer;
  }
  input {
    margin-top: 10px;
    &::placeholder {
      color: #ccc;
    }
  }
}
