@import "~include-media/dist/include-media";
$color-pink: pink;
$color-yellow: yellow;
$color-green: green;
$breakpoint-md: 768px;
$breakpoint-sm: 1000px;

.maindogbox {
  background-image: url("https://img.freepik.com/premium-vector/city-summer-park-with-green-trees-bench-walkway-and-lantern-town-and-city-park-landscape-nature-cartoon-vector-illustration_53562-5890.jpg");
  display: flex;
  // flex-wrap: wrap;
  height: 30.2vw;
  background-size: 40vw;

  @mixin circle($color) {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  @mixin animation-rotate($ani-name, $size) {
    @keyframes #{$ani-name} {
      0% {
        top: 15vw;
        left: 0px;
      }
      100% {
        top: 15vw;
        left: 35vw;
      }
    }
  }
  @mixin animation-rotate3($ani-name, $size) {
    @keyframes #{$ani-name} {
      0% {
        top: 25vw;
        left: 48vw;
      }
      100% {
        top: 15vw;
        left: 48vw;
        width: 5vw;
        height: 5vw;
      }
    }
  }
  @mixin animation-rotate2($ani-name, $size) {
    @keyframes #{$ani-name} {
      0% {
        top: 15vw;
        left: 100vw;
      }

      100% {
        top: 15vw;
        left: 33vw;
      }
    }
  }
  @mixin animation-rotate4($ani-name, $size) {
    @keyframes #{$ani-name} {
      0% {
        top: 30px;
        right: 1000px;
      }

      100% {
        top: 30px;
        right: 0px;
      }
    }
  }
  @mixin animation-rotate5($ani-name, $size) {
    @keyframes #{$ani-name} {
      0% {
        top: 30px;
        left: 1000px;
      }

      100% {
        top: 30px;
        left: -50px;
      }
    }
  }

  .maindog {
    width: 100%;
    height: 100%;
  }

  .box {
    position: relative;

    &.dog1 {
      animation-duration: 5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      width: 17vw;
      height: 17vw;
      border-radius: 50%;
      @include animation-rotate(dog, 100px);
      animation-name: dog;
      font-size: 1px;
    }

    &.men {
      animation-duration: 5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      @include animation-rotate2(men, 100px);
      animation-name: men;
    }
    &.heart {
      position: absolute;
      animation-duration: 5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 3.5s;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      @include animation-rotate3(heart, 100px);
      animation-name: heart;
    }
    &.text1 {
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      font-size: 3vw;
      width: 300px;
      height: 10px;
      border-radius: 50%;
      @include animation-rotate4(text1, 100px);
      animation-name: text1;
      color: #987654;
    }
    &.text2 {
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      font-size: 3vw;
      width: 300px;
      height: 10px;
      border-radius: 50%;
      @include animation-rotate5(text2, 100px);
      animation-name: text2;
      color: #987654;
    }
  }
}
@include media("<#{$breakpoint-sm}") {
  .heart {
    visibility: hidden;
  }
}
