@import '~include-media/dist/include-media';
$breakpoint-md: 950px;
.Mainmydog {
  // position: relative;
  display: flex;
  min-height: 40vh;
  flex-direction: column;

  .Trainingheader {
    font-size: 2vw;
    // padding: 1vw 0px 0px 3vw;
    margin: 30px 0px 0px 0px;
    height: max-content;
  }
  .Trainingheader2 {
    font-size: 2vw;
    // padding: 0px 0px 0px 3vw;
    height: max-content;
  }

  .mainmydogbox {
    margin-top: 30px;
    width: 100%;
    height: 30vw;
    display: flex;

    .mainmydogimgbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      height: 100%;

      .mainmydogimg {
        width: 90%;
      }
    }

    .mainmydoginfo {
      width: 50vw;
      max-height: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .mainmydoginfobtn {
        width: 40vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 10px;
        background-color: #ecd06f;
        border: 2px solid #987654;
        color: #987654;
        &:hover,
        &:focus {
          background-color: #987654;
          color: var(--c-white);
        }
      }
      .mainmydoginfotext1 {
        font-size: 3vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein 5s ease-in-out;
      }

      .mainmydoginfotext2 {
        font-size: 2vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein1 7s ease-in-out;
      }

      .mainmydoginfotext3 {
        font-size: 4vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein2 9s ease-in-out;
      }
    }
    @keyframes fadein {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
    @keyframes fadein1 {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
    @keyframes fadein2 {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }

  .othermainmydogbox {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: max-content;
    display: none;

    .othermainmydogimgbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .othermainmydogimg {
        width: 90%;
      }
    }

    .othermainmydoginfo {
      margin-top: 20px;
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .othermainmydoginfotext1 {
        font-size: 3vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein 5s ease-in-out;
      }

      .othermainmydoginfotext2 {
        font-size: 2vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein1 7s ease-in-out;
      }

      .othermainmydoginfotext3 {
        font-size: 4vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein2 9s ease-in-out;
      }
      .othermainmydoginfobtn {
        width: 40vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 10px;
        background-color: #ecd06f;
        border: 2px solid #987654;
        color: #987654;
        &:hover,
        &:focus {
          background-color: #987654;
          color: var(--c-white);
        }
      }
    }
    @keyframes fadein {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
    @keyframes fadein1 {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
    @keyframes fadein2 {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: none;
      }
    }
  }
  @include media('<#{$breakpoint-md}') {
    .mainmydogbox {
      visibility: hidden;
      display: none;
    }

    .othermainmydogbox {
      display: flex;
    }
  }
}
