@import "~include-media/dist/include-media";
$breakpoint-md: 950px;
.Mainmap {
  position: relative;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  margin-bottom: 3vw;

  .Mainmapheader {
    font-size: 2vw;
    padding: 1vw 0px 0px 3vw;
    margin: 30px 0px 0px 0px;
  }
  .Mainmapheader2 {
    font-size: 2vw;
    padding: 00px 0px 0px 3vw;
  }

  .mainmapbox {
    margin-top: 30px;
    width: 100%;
    height: 30vw;
    display: flex;

    .mainmapimgbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      height: 100%;

      .mainmapimg {
        width: 90%;
      }
    }

    .mainmapinfo {
      width: 50vw;
      max-height: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .mainmapimg2 {
        width: 30%;
        margin-top: 30px;
        margin-bottom: 60px;

        position: relative;
        overflow: hidden;
        animation: fadein3 13s ease-in-out;
      }

      .mainmapinfobtn {
        width: 30vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 10px;
        background-color: #ecd06f;
        border: 2px solid #987654;
        color: #987654;
        &:hover,
        &:focus {
          background-color: #987654;
          color: var(--c-white);
        }
      }
      .mainmapinfotext1 {
        font-size: 3vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein 11s ease-in-out;
      }
    }
  }
  .othermainmapbox {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: max-content;
    display: none;
    flex-direction: column;

    .othermainmapimgbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .othermainmapimg {
        width: 90%;
      }
    }

    .othermainmapinfo {
      margin-top: 20px;
      width: 100%;
      max-height: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      .othermainmapimg2 {
        width: 30%;
        margin-top: 30px;
        margin-bottom: 60px;

        position: relative;
        overflow: hidden;
        animation: fadein3 13s ease-in-out;
      }

      .othermainmapinfobtn {
        width: 30vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 10px;
        background-color: #ecd06f;
        border: 2px solid #987654;
        color: #987654;
        &:hover,
        &:focus {
          background-color: #987654;
          color: var(--c-white);
        }
      }
      .othermainmapinfotext1 {
        font-size: 3vw;
        color: #987654;
        position: relative;
        overflow: hidden;
        animation: fadein 11s ease-in-out;
      }
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadein3 {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @include media("<#{$breakpoint-md}") {
    .mainmapbox {
      visibility: hidden;
      display: none;
    }
    .othermainmapbox {
      display: flex;
    }
  }
}
