@import "./utils.scss";
@import "~include-media/dist/include-media";
$breakpoint-md: 768px;
$breakpoint-sm: 532px;

.RegisterWrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  background-color: hsl(0, 0%, 100%);
  .RegisterBox {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px 40px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #987654;

    h1 {
      font-weight: bold;
      font-size: 30px;
      color: #987654;
    }
    h2 {
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
      color: #987654;
      & + .formBox {
        margin-top: 5px;
      }
    }
    form {
      width: 100%;
      margin-top: 20px;
    }
    .SubmitRegister {
      width: 100%;
      background-color: #ecd06f;
      border: 0;
      height: 50px;
      margin-top: 30px;
      color: #333;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      color: #987654;
      border: 2px solid #987654;
      &:hover,
      &:focus {
        background-color: #987654;
        color: var(--c-white);
      }
    }
    .DeleteMyProfile {
      width: 100%;
      // background-color: #ecd06f;
      border: 0;
      height: 50px;
      margin-top: 30px;
      color: #333;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      color: #987654;
      border: 2px solid #987654;
      &:hover,
      &:focus {
        background-color: #987654;
        color: var(--c-white);
      }
    }
    .link {
      display: inline-flex;
      width: auto;
      height: auto;
      background: #fff;
      text-decoration: underline;
      font-weight: normal;
    }
    .AddMyDog {
      border-radius: 50%;
    }
  }
  .formBox {
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    input[type="text"],
    input[type="password"] {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="radio"] {
      width: 20px;
      height: 20px;
      margin: 10px;
      cursor: pointer;
    }
    label {
      color: #5d5d5d;
      font-size: 14px;
      cursor: pointer;
    }
    input {
      margin-top: 10px;
      &::placeholder {
        color: #ccc;
      }
    }
  }
  .ImgFormBox {
    display: flex;
    flex-direction: column;
    .MyProfileImg {
      text-align: center;
    }
    .MyProfileImgSelect {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 20px;

      .MyProfileImgSelectinput {
        font-size: 1vw;
        color: #987654;
      }
    }
  }
  .formBoxlogin {
    border: 2px solid #987654;
  }

  .onAddDogFormParent {
    display: flex;
    .onAddDogForm {
      width: 30px;
      background-color: #987654;
      border: 0;
      align-items: center;
      margin-top: 20px;

      color: #333;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
@include media("<#{$breakpoint-md}") {
  .RegisterWrap .RegisterBox {
    width: 90%;
  }
}
@include media("<#{$breakpoint-sm}") {
  .RegisterWrap .RegisterBox {
    width: 90%;
  }
}
