.Store {
  position: relative;
  display: flex;
}
.sidebar {
  width: 15%;
  height: 1000px;
  background-color: rgb(209, 203, 203);
  color: azure;
}
.sidebarbox {
  background-color: aqua;
  width: 100%;
  height: 50px;
  border: 2px solid palevioletred;
  text-align: center;
}
.storebox {
  width: 85%;
  height: 1000px;
  background-color: gray;
}
