@import "~include-media/dist/include-media";
$breakpoint-md: 768px;
$breakpoint-sm: 532px;
.StoreCart {
  min-height: 95vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  margin-block: 150px;
  .cartContainer {
    width: 80%;
    height: 80%;
    .header {
      font-weight: 500;
      font-size: 30px;
      margin: 20px;
    }
    .itemContainer {
      color: #987654;
      border: 2px solid #987654;
      width: 70vw;
      height: 10vh;
      tr {
        border-radius: 10px;

        td {
          padding: 10px;
          vertical-align: middle;
          .orderBtn,
          .deleteBtn {
            border-radius: 10px;
            border: 2px solid #987654;
            background-color: #ecd06f;
            color: #987654;
            text-align: center;
            cursor: pointer;
            padding: 4px;
            &:hover {
              background-color: #987654;
              color: white;
            }
          }
        }
        .price {
          .fake {
            text-decoration: line-through;
            color: rgb(168, 168, 168);
          }
          .real {
          }
        }

        tr {
        }
        .firstTd {
          color: rgb(167, 166, 166);
        }
        .secondTd,
        .thirdTd {
          cursor: pointer;
        }
      }
      .tableHead {
        cursor: default;
      }
      img {
        width: 70px;
        height: 70px;
      }
      .notFoundMsg {
        width: max-content;
      }
    }
  }
}

@include media("<#{$breakpoint-sm}") {
}
